[submodule "src/ros_deep_learning"]
	path = src/ros_deep_learning
	url = https://github.com/dusty-nv/ros_deep_learning
[submodule "src/ddynamic_reconfigure"]
	path = src/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
