<launch>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
 
  </include>

  <param name="robot_description" command="cat '$(find jetPR_description)/urdf/jetPR.urdf'"/>

    <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>
 
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node args="-param robot_description -urdf -z 0.09 -y -3 -model jetPR" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

</node>

  <!-- <node name="rviz" pkg="rviz" type="rviz" /> -->


</launch>
