<launch>

  <arg name="model" default= "$(find jetPR_description)/urdf/jetPR.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find jetPR_description)/rviz/initial_config.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_updater" pkg="jetPR_description" type="joint_updater" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <arg name="publish_tf" default="true"/>
        <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet camera/realsense2_camera_manager">
        <param name="scan_height" value="20"/>
        <param name="output_frame_id" value="/camera_depth_frame"/>
        <param name="range_min" value="0.2"/>
        <remap from="camera/image" to="/camera/aligned_depth_to_color/image_raw"/>
        <remap from="camera/camera_info" to="/camera/aligned_depth_to_color/camera_info"/>
        <remap from="camera/scan" to="scan"/>
 </node>
</launch>
