<launch>

  <arg name="model" default= "$(find jetPR_description)/urdf/jetPR.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find jetPR_description)/rviz/initial_config.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_updater" pkg="jetPR_description" type="joint_updater" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <arg name="publish_tf" default="true"/>
</launch>
