<launch>
    <include file="$(find tensorflow_object_detector)/launch/object_detect.launch"/>
    <node name="human_pose_finder" pkg="jetPR_drivers" type="human_pose_finder.py"/>
    <node name="human_pose_filter" pkg="jetPR_drivers" type="human_pose_filter.py"/>
    <node pkg="image_view" type="image_view" name="image_view">
        <remap from="image" to="debug_image"/>
    </node>
</launch>
