<launch>
   <master auto="start"/>
   <arg name="rvizconfig" default="$(find jetPR_drivers)/rviz/move_base_config.rviz" />
   <include file="$(find jetPR_drivers)/launch/amcl_default.launch" />
   <node name="map_server" pkg="map_server" type="map_server" args="/home/robot/map.yaml"/>
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find jetPR_drivers)/config/costmap_common.yaml" command="load" ns="global_costmap" />
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find jetPR_drivers)/config/move_base.yaml" command="load" /> 
      <rosparam file="$(find jetPR_drivers)/config/costmap_common.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find jetPR_drivers)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find jetPR_drivers)/config/global_costmap_params.yaml" command="load" /> 
      <rosparam file="$(find jetPR_drivers)/config/base_local_planner_params.yaml" command="load" />
   </node>
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch> 
