<launch>
<node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
</node>
<node name="cv_bridge" pkg="jetPR_drivers" type="cvbridge.py"/>
<node name="detectnet" pkg="ros_deep_learning" type="detectnet">
    <remap from="/detectnet/image_in" to="imagee"/>
    <param name="_model_name" value="ssd-mobile-net-v2"/>
</node>
<node name="bbox" pkg="jetPR_drivers" type="drawbox.py"/>
</launch>
