<launch>
<node name="cv_bridge" pkg="jetPR_drivers" type="cvbridge.py"/>
<node name="detectnet" pkg="ros_deep_learning" type="detectnet">
    <remap from="/detectnet/image_in" to="imagee"/>
    <param name="_model_name" value="pednet"/>
</node>
<node name="bbox" pkg="jetPR_drivers" type="drawbox.py"/>
</launch>
